
.text-field {
    -fx-background-color: #ffffff;
}

.topbar-color {
    -fx-background-color: #222222;
}

.sidebar-color {
    -fx-background-color: #444444;
}

.content-color {
    -fx-background-color: #666666;
}

#main-button {
    -fx-background-image: url(../image/main-icon.png);
}

#info-button {
    -fx-background-image: url(../image/info-icon.png);
}

#account-button {
    -fx-background-image: url(../image/account-icon.png);
}

#settings-button {
    -fx-background-image: url(../image/settings-icon.png);
}

#add-button {
    -fx-background-image: url(../image/add-icon.png);
}


.image-button {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 64 64;
    -fx-background-position: center center;
}

.default-side-button:hover {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, transparent, #666666);
}

.default-side-button:pressed {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, transparent, #999999);
}

.default-top-button:hover {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, transparent, #666666);
}

.default-top-button:pressed {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, transparent, #999999);
}